node_modules/
.expo/
dist/
web-build/
*.env
!.env.example
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/build/
ios/build/
eas-build-local-nodejs*/
.easignore
coverage/
__mocks__/

expo-env.d.ts
# @end expo-cli

# Android APK builds
*.apk
apk/